html {
	width: 100vw;
	height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

.link-card {
    border: 1px solid #828282;
}

.link-card img {
    width: 42px;
}

.add-card-btn {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    position: absolute;
    bottom: 94px;
    right: 36px;
}

footer {
    border-top: 1px solid #828282;
}