@tailwind base;
@tailwind components;
@tailwind utilities;

.link-card {
	border: 1px solid #828282;
}

.link-show {
	position: absolute;
	left: 10px;
	top: 10px;
	display: none;
}

.link-trash {
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
}

.link-edit {
	position: absolute;
	right: 30px;
	top: 10.6px;
	display: none;
}

.link-card:hover .link-trash,
.link-card:hover .link-show,
.link-card:hover .link-edit {
	display: block;
}